<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>CSS Demo</title>
<style type="text/css">
h1{
background-color: blue;
color: white
}

#special{
background-color: green;
color: white;
max-width: 30%
}

.mystyle{
background-color: red;
text-align: center;
border:2px solid green;
}

.mystyle:hover{
background-color: yellow;
}

</style>
</head>
<body>
	<h1>Hello World</h1>
	<h1 id = special>Hello World</h1>
	<h1>Hello World</h1>
	<h1>Hello World</h1>
	<h1 style="color:yellow;text-align:center">Hello World</h1>
	<button class="mystyle">submit</button>
</body>
</html>