<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List All Employee</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
	crossorigin="anonymous">
</head>
<body>
	<div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Emp Id</th>
					<th scope="col">Name</th>
					<th scope="col">City</th>
					<th scope="col">Salary</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="emp:${empList}">
					<td><a th:href="@{findone(id=${emp.empId})}"><span th:text="${emp.empId}"></span></td>
					<td><span th:text="${emp.name}"></span></td>
					<td><span th:text="${emp.city}"></span></td>
					<td><span th:text="${emp.salary}"></span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>