<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>update page</title>
</head>
<body>
    <h2>Update Employee</h2>
    <form action="saveEmp" method="POST">
    <span>Employee Id</span><input type="text" name="empId" value="${emp.empId}"><br/>
    <span>Employee Name</span><input type="text" name="name" value="${emp.name}"><br/>
    <span>City</span><input type="text" name="city" value="${emp.city}"><br/>
    <span>Salary</span><input type="text" name="salary" value="${emp.salary}"><br/>
    <input type="submit" value="Submit">
    </form>
</body>
</html>
